
html, body {
  height: 100%;
}

body {
  font-family: 'Raleway Dots', cursive;
  font-size: 250%;
  font-weight: bold;
  text-transform: lowercase;
}

.header {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.footer {
  text-align: center;
  margin: 25px;
}

.home {
  width: 50%;
  margin: 0 auto;
}

.home a {
  color: inherit;
  text-decoration: none;
}

.post-title {
  text-align: left;
}

.post-date {
  text-align: right;
}

.paginator {
  text-align: center;
}

.container {
  min-height: 100%;
}

.main {
  overflow:auto;
  padding-bottom:150px;
}

.footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear:both;
  padding-top:20px;
}
