<!DOCTYPE html>
<html>

  <head>
    <!--  Meta Tags -->
    <meta charset="utf-8">
    <!--  Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/js/script.js">

    </script>
    <!--  Styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div class="container">
      {% include header.html %}
      <div class="main">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>

</html>
